

*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.title {
    font-size: 60px;
    margin-bottom: 20px;
}

.number {
    font-size: 80px;
    color: green;
}

button {
    text-align: center;
    padding: 5px 15px;
    font-size: 30px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.minus{
    background-color: red;
    color: white;

}
.plus{
    color: white;
    background-color: green;
}

.reset{
    color: white;
    background-color: gray;
}